<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\logAPICore\H2H\internallog.txt">
	<targets>
		<target name="BCADepositFile" xsi:type="File"
				fileName="c:/logH2HCore/BCA/Deposit/${shortdate}.txt"
				layout="${longdate} ${message}"/>
    <target name="BCAInstruksiFile" xsi:type="File"
				fileName="c:/logH2HCore/BCA/Instruksi/${shortdate}.txt"
				layout="${longdate} ${message}"/>
    
    <target name="BRIDepositFile" xsi:type="File"
				fileName="c:/logH2HCore/BRI/Deposit/${shortdate}.txt"
				layout="${longdate} ${message}"/>
    <target name="BRIInstruksiFile" xsi:type="File"
				fileName="c:/logH2HCore/BRI/Instruksi/${shortdate}.txt"
				layout="${longdate} ${message}"/>
    
    <target name="PERMATADepositFile" xsi:type="File"
				fileName="c:/logH2HCore/PERMATA/Deposit/${shortdate}.txt"
				layout="${longdate} ${message}"/>
    <target name="PERMATAInstruksiFile" xsi:type="File"
				fileName="c:/logH2HCore/PERMATA/Instruksi/${shortdate}.txt"
				layout="${longdate} ${message}"/>
    
    <target name="CIMBDepositFile" xsi:type="File"
				fileName="c:/logH2HCore/CIMB/Deposit/${shortdate}.txt"
				layout="${longdate} ${message}"/>
    <target name="CIMBInstruksiFile" xsi:type="File"
				fileName="c:/logH2HCore/CIMB/Instruksi/${shortdate}.txt"
				layout="${longdate} ${message}"/>
	</targets>
	<rules>
		<!--<logger name="*" minlevel="Debug" writeTo="logfile" />-->
    <logger name="BCADeposit" minlevel="Debug" writeTo="BCADepositFile" />
    <logger name="BCAInstruksi" minlevel="Debug" writeTo="BCAInstruksiFile" />
    <logger name="BRIDeposit" minlevel="Debug" writeTo="BRIDepositFile" />
    <logger name="BRIInstruksi" minlevel="Debug" writeTo="BRIInstruksiFile" />
    <logger name="PERMATADeposit" minlevel="Debug" writeTo="PERMATADepositFile" />
    <logger name="PERMATAInstruksi" minlevel="Debug" writeTo="PERMATAInstruksiFile" />
    <logger name="CIMBDeposit" minlevel="Debug" writeTo="CIMBDepositFile" />
    <logger name="CIMBInstruksi" minlevel="Debug" writeTo="CIMBInstruksiFile" />
	</rules>
</nlog>